html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.general {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.player-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  width: 50%;
  background: #013358;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.titulo {
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #CAEEEE;
  line-height: inherit;
  margin-right: auto;
}

.player-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  width: 50%;
  background: #10283A;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.play-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 14vh;
  background: #CAEEEE;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: 7%;
  min-width: 15%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  border: solid 0px #b1d1d1;
  -webkit-transition: border-width 0.1s linear;
  transition: border-width 0.1s linear;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #10283A;
}

.play-button:hover {
  border-width: 5px;
}

.texto-secundario {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: auto;
  margin-bottom: 55%;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3em;
  font-weight: 100;
  color: #CAEEEE;
  line-height: inherit;
}

.texto-secundario-dos {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: auto;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3em;
  font-weight: 100;
  color: #CAEEEE;
  line-height: inherit;
  margin-bottom: 1em;
}

.onoffswitch {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin-bottom: 47%;
}

.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #10283A;
  border-radius: 20px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "CPU";
  padding-left: 10px;
  background-color: #164f7a;
  color: #FFFFFF;
}

.onoffswitch-inner:after {
  content: "CPU";
  padding-right: 10px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 18px;
  margin: 6px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border: 2px solid #164f7a;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.container-one {
  background-color: #013358;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding-left: 20vh;
  padding-right: 20vh;
}

.container-two {
  background-color: #10283A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding-left: 20vh;
  padding-right: 20vh;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 8em;
  padding-bottom: 8em;
}

.head h1 {
  margin-right: 0;
}

.head p {
  margin-bottom: 0;
}

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 30%;
  width: 100vh;
  margin-bottom: 4em;
}

.images img {
  width: 13%;
}

.buttons {
  width: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.buttons .skewBtn {
  width: 180px;
  height: 50px;
  outline: none;
  cursor: pointer;
  background: none;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 5px;
  border: 2px solid #CAEEEE;
  color: #CAEEEE;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3em;
  font-weight: 100;
}

.buttons .skewBtn:hover {
  color: #10283A;
  border: none;
  font-size: 1.4em;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #CAEEEE;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/*# sourceMappingURL=styles.css.map */